src/test/resources/xsdWithBodyTypes/ComplexService/hccOrbitService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ccsds.org/schema/malxml/hcc/OrbitService" xmlns:malxml="http://www.ccsds.org/schema/malxml/MAL" xmlns:ns0="http://www.ccsds.org/schema/malxml/hcc" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ccsds.org/schema/malxml/hcc/OrbitService">
    <xs:import namespace="http://www.ccsds.org/schema/malxml/MAL"/>
    <xs:import namespace="http://www.ccsds.org/schema/malxml/hcc"/>
    <xs:complexType name="calculate_INVOKE_Body">
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="Time" type="malxml:Time"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="calculate_INVOKE_ACK_Body">
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="Duration" type="malxml:Duration"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="calculate_INVOKE_RESPONSE_Body">
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="OrbitStuff" type="ns0:OrbitStuff"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
