src/test/resources/xsdWithBodyTypes/OpDocBulkTest/testServiceName.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ccsds.org/schema/malxml/test/ServiceName" xmlns:malxml="http://www.ccsds.org/schema/malxml/MAL" xmlns:ns0="http://www.ccsds.org/schema/malxml/test" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ccsds.org/schema/malxml/test/ServiceName">
    <xs:import namespace="http://www.ccsds.org/schema/malxml/MAL"/>
    <xs:import namespace="http://www.ccsds.org/schema/malxml/test"/>
    <xs:complexType name="myOperation_REQUEST_Body">
        <xs:annotation>
            <xs:documentation>This is the documentation for the REQUEST message.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="String" type="malxml:String">
                        <xs:annotation>
                            <xs:documentation>Doc for the first param.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MyType" type="ns0:MyType">
                        <xs:annotation>
                            <xs:documentation>Doc for the second param.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="myOperation_REQUEST_RESPONSE_Body">
        <xs:annotation>
            <xs:documentation>This is the documentation for the RESPONSE message.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="UInteger" type="malxml:UInteger">
                        <xs:annotation>
                            <xs:documentation>Doc for the only response param.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
