src/test/resources/xsdWithDoc/ImportComplexTest/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ccsds.org/schema/malxml/test" xmlns:malxml="http://www.ccsds.org/schema/malxml/MAL" xmlns:ns0="http://www.ccsds.org/schema/malxml/MC/Parameter" xmlns:ns1="http://www.ccsds.org/schema/malxml/test/ServiceName" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ccsds.org/schema/malxml/test">
    <xs:import namespace="http://www.ccsds.org/schema/malxml/MC/Parameter"/>
    <xs:import namespace="http://www.ccsds.org/schema/malxml/test/ServiceName"/>
    <xs:import namespace="http://www.ccsds.org/schema/malxml/MAL"/>
    <xs:complexType name="SomeAreaComposite">
        <xs:complexContent>
            <xs:extension base="malxml:Composite">
                <xs:sequence>
                    <xs:element name="importedValidity" type="ns0:ValidityState"/>
                    <xs:element name="secondImportedValidity" type="ns0:ValidityState"/>
                    <xs:element name="serviceValidity" type="ns1:ValidityState"/>
                    <xs:element name="secondServiceValidity" type="ns1:ValidityState"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SomeAreaCompositeList">
        <xs:complexContent>
            <xs:extension base="malxml:Composite">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="SomeAreaComposite" nillable="true" type="SomeAreaComposite"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SomeAreaComposite" type="SomeAreaComposite"/>
    <xs:element name="SomeAreaCompositeList" type="SomeAreaCompositeList"/>
</xs:schema>
