src/test/resources/xsdWithBodyTypes/OpRequestTest/testServiceName.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ccsds.org/schema/malxml/test/ServiceName" xmlns:malxml="http://www.ccsds.org/schema/malxml/MAL" xmlns:ns0="http://www.ccsds.org/schema/malxml/test" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ccsds.org/schema/malxml/test/ServiceName">
    <xs:import namespace="http://www.ccsds.org/schema/malxml/MAL"/>
    <xs:import namespace="http://www.ccsds.org/schema/malxml/test"/>
    <xs:complexType name="operationName_REQUEST_Body">
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="String" type="malxml:String"/>
                    <xs:element name="MyType" type="ns0:MyType"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="operationName_REQUEST_RESPONSE_Body">
        <xs:complexContent>
            <xs:restriction base="malxml:Body">
                <xs:sequence>
                    <xs:element name="UInteger" type="malxml:UInteger"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
